version: '3.4'

services:
  promoweb_postgresql:
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Passw0rd
    ports:
      - "5432:5432"
    networks:
      - shared_promowebapi_net
    volumes:      
      - ~/.docker-conf/postgresql/data/:/var/lib/postgresql/data

  promoweb_rabbitmq:
    ports:
      - "5672:5672"
      - "5673:5673"
      - "15672:15672"
    networks:
      - shared_promowebapi_net
    volumes:      
      - ./rabbitmq:/var/lib/rabbitmq

  promoweb_api:
    ports:
      - "10000:80"
    networks:
      - shared_promowebapi_net
    env_file:
      - env.api

  promoweb_identity:
    ports:
      - "10001:80"
    networks:
      - shared_promowebapi_net
    env_file:
      - env.identity

  promoweb_worker:
    networks:
      - shared_promowebapi_net
    env_file:
      - env.worker

networks:
  shared_promowebapi_net:
    name: promo_web
    driver: bridge
